@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using esg.PetaPoco.Models
@using esg.PetaPoco.Repository
@{
    Layout = null;


}
    @foreach (var SupportGroups in SupportGroup.GetAll())
    {
        
        <a name ="@SupportGroups.statename" id="@SupportGroups.statename"></a>
        <h3>@SupportGroups.statename</h3>
        if (@SupportGroups.supportgroup == "Yes")
        {
            <p><strong>@SupportGroups.groupname</strong><br>
            <strong>Area Served:</strong>@SupportGroups.areaserved<br/>
            <strong>Audience:</strong>@SupportGroups.audience</p>

        }
        else 
        {
           <p>We&#39;re sorry, there are not any Educational 
               Support Groups in your area at this time. If you would 
               like to start an AAFA Educational Support Group in your 
               community, please contact AAFA at 800-7-ASTHMA.</p>


        }
     }


