@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    //get all children of type 'slide_item'
    var slides = @CurrentPage.Children.Where("DocumentTypeAlias == \"slide_item\"");
    }

<section class="container top clearfix">
<section class="content float-left">
    <ul class="bxslider">
        @foreach (var slide in @slides)
        {
            //Fallback: Ignore slide when no image was uploaded,
            //else the slide would cause a server error.
            if (@slide.sliderImage != null)
            {
                var image = Umbraco.Media(@slide.sliderImage);
                <li>
                    <a href="@slide.pageLink"><img alt="@slide.name" src="@image.Url"></a>
                </li>
            }
        }
    </ul>
</section></section>
		
<script>
 $(document).ready(function () {
$('.bxslider').bxSlider({
auto: true,
useCSS:false
    
}
);
}); 
</script>
